#content
{
	display: inline-block;
	width:600;
	text-align: left;
	background-color: #CCCCCC;
	padding:30;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; 
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; 
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover
{
    background : #fff;
}

html
{
	text-align: center;
}

body
{
    display: inline-block;
}

h1
{
	text-align: center;
	color:red;
}

h2
{
	color:red;
}
